<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UI-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" ,initial-scale=1>
    <!--The above three meta tags must come first-->
    <meta name="description" content="With 10 + years history as a mobile software expert , Widian understands the mobile enterprise solution and mobile office market need better than most.">
    <meta name="author" content="Widian's developer team">
    <meta name="keywords" content="Mobile App, Mobile Solution,Mobile Service">
    <!--Following are the open graph protocol-->
    <meta property="og:title" content="Widian For Mobile">
    <meta property="og:type" content="Mobile App">
    <meta property="og:url" content="http://www.widian.fi/">
    <meta property="og:image" content="http://www.widian.fi/Welcome_files/SV2011_Widian_Oy_EN_97579.jpg">
    <meta property="og:site_name" content="widian.fi">
    <title>Mobile App | Mobile Solution | Mobile Service</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel='stylesheet' href='css/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
</head>

<body>

    <!--Body content will be rendered here-->
    {{{body}}}

    <!-- Scripts -->
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/jquery.scrollex.min.js"></script>
    <script src="js/lib/jquery.scrolly.min.js"></script>
    <script src="js/lib/skel.min.js"></script>
    <script src="js/lib/util.js"></script>
    <!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
    <script src="js/style.js"></script>
</body>

</html>
