<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li id="logo"><img src="images/logo.png" alt="Widian"></li>
                <li><a href="#intro">Welcome</a></li>
                <li><a href="#one">Products</a></li>
                <li><a href="#two">Technologies</a></li>
                <li><a href="#three">Services</a></li>
                <li><a href="#four">Partners</a></li>
                <li><a href="#five">Customers</a></li>
                <li><a href="#six">Contact</a></li>
            </ul>
        </nav>
    </div>
</section>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Intro -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
            <h1>Widian As A Mobile Software Expert</h1>
            <p>
                <i class="fa fa-quote-left quote-green" aria-hidden="true"></i> With 10 + years history as a mobile software expert , Widian understands the mobile enterprise solution and mobile office market need better than most. <i class="fa fa-quote-right quote-green"
                    aria-hidden="true"></i>
            </p>
            <ul class="actions bottons">
                <li><a href="#intro-more" class="button scrolly">Learn more</a></li>
            </ul>
        </div>
    </section>

    <!-- Intro more -->
    <section id="intro-more" class="wrapper style2 spotlights">
        <section>
            <a href="#" class="image"><img src="images/mobility.jpeg" alt="" data-position="center center" /></a>
            <div class="content">
                <div class="inner">
                    <h2>Widian understands mobility</h2>
                    <p> <i class="fa fa-quote-left quote-green" aria-hidden="true"></i> Widian Ltd. is a specialist in wireless handheld computing, using open standards to provide the corporate applications enterprises need on the handhelds they choose.
                        <i class="fa fa-quote-right quote-green" aria-hidden="true"></i>
                        <br>
                        <br> The company’s products extend mission-critical enterprise applications including groupware applications, Intranets, ERP, CRM and other corporate back-end systems to mobile employees when they need them.
                        <br>
                        <br> The company’s services include mobile innovation consultancy, solution design, solution creation, solution development and testing services based on commonly known mobile technologies. Widian also provides hosting services for
                        its clients.
                        <br>
                        <br> Widian has offices in Finland. Widian products and services are sold either directly to enterprises or through partners.
                        <br>
                        <br> With 12 years history as a specialist of mobile ecosystem consultant and developer, Widian understands the mobile enterprise and mobile office market needs better than most. We have used that experience to create solutions that
                        are both simple to use, and simple to implement. .
                    </p>
                </div>
            </div>
        </section>
    </section>
    <!--Product section-->
    <section id="one" class="wrapper style3 fade-up">
        <div class="inner">
            <h2>Our Products</h2>
            <p><i class="fa fa-quote-left quote-black" aria-hidden="true"></i> We have used our experience to create solutions that are both simple to use, and simple to implement. <i class="fa fa-quote-right quote-black" aria-hidden="true"></i>
            </p>
            <div class="features">
                <section>
                    <span class="icon major fa-mobile-phone"></span>
                    <h3>Widian Mobile</h3>
                    <p>Widian Mobile extends the usability of groupware solutions like by offering their features like e-mail and calendar in a wireless environment.
                        <br> Widian Mobile brings also intranet and extranet appilcations and operative databases safely and securely to mobile device, whether your are at home, travelling, or in the car.</p>
                </section>
                <section>
                    <span class="icon major fa-expand"></span>
                    <h3>Widian Mobile Express</h3>
                    <p>Widian Mobile Express is a specialized data conversion tool that can be used to format information from Intranet and Internet applications so that it can be used conveniently on mobile devices. The tool automatically fetches the original
                        content and transforms it into a format the mobile device can read. In addition, it can be used to create mobile applications that require user authentication.</p>
                </section>
            </div>
        </div>
    </section>


    <!-- Technologies -->
    <section id="two" class="wrapper style2 spotlights">
        <section>
            <a href="#" class="image"><img src="images/tech.jpg" alt="" data-position="center center" /></a>
            <div class="content">
                <div class="inner">
                    <h2>Our Technologies</h2>
                    <p><i class="fa fa-quote-left quote-green" aria-hidden="true"></i> As an innovative company at the cutting edge of the industry, we bring with us a flexibility and adaptability, meaning that we can take advantage of any new technologies
                        as they happen. <i class="fa fa-quote-right quote-green" aria-hidden="true"></i>
                        <br>Widian solutions can be created using commonly known mobile technologies.
                        <br> Widian’s team is significantly skilled in Android, Mobile Web, iOS, J2ME, C#, Symbian OS, C++ and Tetra allowing our projects maximum flexibility in terms of harnessing phone features and APIs.
                        <br>
                        <br> Widian has shown its prowess in integrating the needs of the professional mobile users to the realities of the mobile marketplace, extending their core capabilities to make organizations work more efficiently.
                        <br>
                        <br> Because our solutions are based on Open Standards, integration and compatibility are fast and cost effective. And because we don’t use of proprietary protocols or elements, integration to existing services is generally straightforward.
                    </p>
                </div>
            </div>
        </section>
    </section>

    <!-- Services -->
    <section id="three" class="wrapper style3 fade-up">
        <div class="inner">
            <h2>Our Services</h2>
            <p><i class="fa fa-quote-left quote-black" aria-hidden="true"></i> Widian has been providing smartphone services since the first Symbian OS-based phones became available. Those applications are often attached to client’s legacy and database systems
                whilst harnessing the new features and functionality available in such modern phones. <i class="fa fa-quote-right quote-black" aria-hidden="true"></i>

                <br>
                <br>Widian offers a range of expert services to companies and organizations to support their success in mobile business:
            </p>
            <div class="features">
                <section>
                    <span class="icon major fa-lightbulb-o"></span>
                    <h3>Mobile Innovation consultancy</h3>
                </section>
                <section>
                    <span class="icon major fa-share"></span>
                    <h3>Consultancy to create new mobile business or bringing an existing business into mobile world</h3>
                </section>
                <section>
                    <span class="icon major fa-cogs"></span>
                    <h3>Mobile concept and end user experience design</h3>
                </section>
                <section>
                    <span class="icon major fa-desktop"></span>
                    <h3>Technology consultancy related to different platforms</h3>
                </section>
                <section>
                    <span class="icon major fa-product-hunt"></span>
                    <h3>Fast prototyping development</h3>
                </section>
                <section>
                    <span class="icon major fa-mobile"></span>
                    <h3>Application and Mobile Web development</h3>
                </section>
                <section>
                    <span class="icon major fa-tasks"></span>
                    <h3>Web and server development to support mobile solutions</h3>
                </section>
                <section>
                    <span class="icon major fa-wrench"></span>
                    <h3>Testing, Hosting and Monitoring</h3>
                </section>
            </div>
        </div>
    </section>

    <!-- Partners -->
    <section id="four" class="wrapper style2 spotlights">
        <section>
            <a href="#" class="image"><img src="images/partner.png" alt="" data-position="center center" /></a>
            <div class="content">
                <div class="inner">
                    <h2>Our Partners</h2>
                    <p><i class="fa fa-quote-left quote-green" aria-hidden="true"></i> We are co-operating with partners to provide better products and services to enterprises and end users. <i class="fa fa-quote-right quote-green" aria-hidden="true"></i>

                        <br>
                        <br> Widian products and consultancy/development work includes collaborative efforts with operators, software houses, service providers, system integrators and device manufacturers developing solutions for the enterprise market. We
                        are able to commit ourselves to long lasting partnerships in the future.
                    </p>
                </div>
            </div>
        </section>
    </section>

    <!-- two -->
    <section id="five" class="wrapper style2 spotlights">
        <section>
            <a href="#" class="image"><img src="images/customers.jpg" alt="" data-position="center center" /></a>
            <div class="content">
                <div class="inner">
                    <h2>Our Happy Customers</h2>
                    <p><i class="fa fa-quote-left quote-green" aria-hidden="true"></i> We are ready to commit ourselves to long lasting partnership. <i class="fa fa-quote-right quote-green" aria-hidden="true"></i>

                        <br>
                        <br> Widian delivers proven mobile solutions to wireless operators, service providers, software houses and enterprises. We have an excellent track record of having consistently delivered solutions on time, within budget, and with verifiably
                        excellent results. Having co-operated with the end-user organizations, the device manufacturers, the operators, the service providers, the software houses, Widian has considerable experience in mobile technology, so we know and
                        understand not just the technology, but the customer organizations’ and the end users’ needs. Widian products and services are being used in Finland, Belgium, Germany, Sweden and UK.

                    </p>
                </div>
            </div>
        </section>
    </section>

    <!-- Contact us -->
    <section id="six" class="wrapper style1 fade-up">
        <div class="inner">
            <h2>Contact Us</h2>
            <div class="split style1">
                <section>
                    <form method="post" action="#">
                        <div class="field half first">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" />
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="5"></textarea>
                        </div>
                        <ul class="actions bottons">
                            <li><a href="" class="button submit">Send Message</a></li>
                        </ul>
                    </form>
                </section>
                <section>
                    <ul class="contact">
                        <li>
                            <h3>Helsinki Office</h3>
                            <span>Malmin Raitti 17<br />
                              FIN-00700 Helsinki<br />
                  Finland</span>
                        </li>
                        <li>
                            <h3>Tornio Office</h3>
                            <span>Keskikatu 69<br />
                  Fin-95400 Tornio<br />
                  Finland</span>
                        </li>

                        <li>
                            <h3>Contact Directlly</h3>
                            <span>Jari Huttunen: +358 50 67033</span>
                            <br>
                            <span>Antti Timonen: +358 50 5002117</span>
                        </li>
                        <li>
                            <h3>Email</h3>
                            <a href="#">firstname.lastname@widian.fi</a>
                        </li>
                        <li>
                            <h3>Follow us</h3>
                            <ul class="icons">
                                <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
                                <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
    <div class="inner">
        <ul class="menu">
            <li><img src="images/honor.png" alt="Widian Mobile Solution"></li>
            <li class="copyrights">&copy; Widian Oy 2016</li>
            <li class="copyrights">All rights are reserved</a>
            </li>


        </ul>

    </div>
</footer>
